@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@300;400;500;600&display=swap');

:root{
  --bg1: #ffd700;
  --bg2: crimson;
  --bg3: #111;
  --prim: #efefef;
  
}

*{
  font-family: 'Yeldevi', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

body{
  background: var(--bg3);
  overflow: hidden;
  padding-left: 35rem;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px #0000004d; 
  background: rgb(70, 69, 69);
}
::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 6px #00000080; 
  background: #f30c0c;
}

.container{
  height: 100vh;
}

section{
  height: 100vh;
  padding: 1rem;
}

section .title{
  position: relative;
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 2.6rem;
  border-bottom: .3rem solid var(--prim);
  color: #fff;
}

section .title::after{
  position: absolute;
  bottom: -2rem;
  left: 50%;
  font-size: 3rem;
  color: var(--bg1);
  padding: 0 1.5rem;
  background: var(--bg3);
  transform: translateX(-50%);
}

.btn{
  padding: 0.7rem 3rem;
  background: var(--bg1);
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2.5rem;
  border-radius: 5rem;
}

.btn:hover{
  background: var(--bg2);
  color: var(--bg1);
}

.btn i{
  padding: 0 1.5rem;
  font-size: 2.2rem;
  color: var(--bg2);
}
.btn:hover i{
  color: #fff;
}

/*Header Section Styles*/

header{
  position: fixed;
  top: 0; left: 0;
  z-index: 1000;
  height: 100%;
  width: 40rem;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

header .user img{
  height: 23rem;
  width: 15rem;
  border-radius: 10%;
  object-fit: cover;
  margin-bottom: 1.5rem;
  border: 1rem solid var(--bg1);
}

header .user .name{
  font-size: 3rem;
  color: var(--prim);
}

header .user .post{
  font-size: 2.3rem;
  color: var(--bg1);
  display: inline;
}

header .navbar{
  width: 100%;
}

header .navbar ul{
  list-style: none;
  padding: 1.5rem 3rem;
  
}

header .navbar ul li a{
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  color: var(--prim);
  background: var(--bg1);
  font-size: 2.3rem;
  border-radius: 5rem;
}

header .navbar ul li a:hover{
  background: var(--bg2);
  color: var(--bg1);
}

/*Menu Button Styles*/
#menu{
  position: fixed;
  top: 2rem; right: 2rem;
  background:  var(--bg1);
  color: var(--bg3);
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}

/*Home Section Styles*/

.home{
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 15rem;

}

.home h3{
  font-size: 3rem;
  color: #fff;
}

.home h1{
  font-size: 7rem;
  color: #fff;
  font-family: 'Ubuntu',sans-serif;
  font-weight: 500;
}

.home h2 span{
  display: inline;
  font-size: 2rem;
  color: var(--bg1);
  font-weight: 600;
  margin-left: .4rem;
}

.home p{
  font-size: 2rem;
  color: #eee;
  padding: 1rem;
}

/*home pseudo codes*/

.about .title::after{
  content: "who i am";
  text-transform: lowercase;
}

.about .row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.about .row .info{
  flex: 1 1 48rem;
  padding: 1rem 1rem;
  padding-left: 6rem;
  justify-content: center;
  flex-wrap: wrap;
}

.about .row .info h3{
  font-size: 2.5rem;
  color: var(--bg1);
  padding: 1rem 0;
  font-weight: normal;
}

.about .row .info h3 span{
  color: #eee;
  padding: 0 0.5rem;
}

.about .row .info .typing-2{
  color: var(--bg1);
  padding: 0 0.5rem;
  font-size: 2.5rem;
}
.about .row .counter{
  flex: 1 1 48rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about .row .counter .box{
  width: 35rem;
  background: #222;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}

.about .row .counter .box span{
  font-size: 4rem;
  color: var(--bg1);
}

.about .row .counter .box h3{
  font-size: 2rem;
  color: #fff;
}

/*skills section styles*/

.skills .title::after{
  content: "what i know";
  text-transform: lowercase;
}

.skills .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.skills .row .left{
  flex: 1 1 48rem;
  padding: 8rem 1rem;
  padding-left: 6rem;
  
}
.skills .row .left .text{
  font-size: 3rem;
  color: #fff;
  padding: 1rem;
  font-weight: normal;
}

.skills .row .left p{
  font-size: 1.8rem;
  color: #fff;
  line-height: 1.5;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.skills .row .left a{
  margin-left: 1.5rem;
}

.skills .row .right{
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.skills .row .right .bars{
  margin-bottom: 1.5rem;
}

.skills .row .right .info{
  display: flex;
  justify-content: space-between;
}

.skills .row .right span{  
  color: #fff;
  font-size: 2.5rem;
}

.skills .row .right .line{
  height: 0.7rem;
  width: 100%;
  background: #535353;
  position: relative;
}

.skills .row .right .line::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--bg1);
}
.row .right .html::before{
  width: 90%;
}
.row .right .css::before{
  width: 80%;
}
.row .right .js::before{
  width: 70%;
}
.row .right .react::before{
  width: 60%;
}
.row .right .mysql::before{
  width: 50%;
}

/*works*/

.works .title::after{
  content: "jobs done";
  text-transform: lowercase;
}

.works .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.works .box-container .box{
  height: 20rem;
  width: 26rem;
  border-radius: 1rem;
  margin: 2rem;
  padding: 2rem;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  border: .5rem solid var(--bg1);
  color: #fff;
  font-size: 1rem;
}

.works .box-container .box a{
  background: var(--bg1);
  padding: .2rem 1rem;
  border-radius: 1rem;
  margin-top: 1.8rem;
}

.works .box-container .box img{
  height: 70%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;

}
.works .box-container .box:hover{
  background: var(--bg2);
  color: var(--bg1);
}

/* Contact Section*/

.contact .title::after{
  content: "get in touch";
  text-transform: lowercase;
}

.contact .row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .row .contents {
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
}

.contact .row form {
  flex: 1 1 40rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

.contact .row form .box{
  padding: 1.5rem;
  margin: 1rem 0;
  background: #3333;
  color: #fff;
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
}

.contact .row form .box::placeholder {
  text-transform: capitalize;
}


.contact .row form .message{
  height: 15rem;
  resize: none;
}

.contact .row .contents .heading{
  color: #fff;
  font-size: 2.3rem;
  padding-bottom: 2rem;
  margin-left: 3rem;
}

.contact .row .contents .info h3{
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #eee;
  padding: 1rem 0;
  margin-left: 3rem;
  font-weight: normal;
  width: 100%;
  text-transform: lowercase !important;
}

.contact .row .contents .info h3 i{
  padding-right: 1rem;
  color: var(--bg1);
}


.top{
  position: fixed;
  bottom: 7.5rem; right: 2rem;
  z-index: 100;
  width: 4rem;
  background: var(--bg1);
  font-weight: 600;
  display: none;
}




/*Responsiveness Styles*/

@media (max-width:1200px){

  html{
    font-size: 55%;
  }

  .home{
    padding: 1rem 4rem;
  }

}

@media (max-width: 991px){

  header{
    left: -120%;
  }  

  #menu{
    display: block;
  }

  header.toggle{
    left: 0;
  }

  body{
    padding: 0;
  }
}

@media (max-width: 768px){

  html{
    font-size: 50%;
  }

 
}
@media (max-width: 400px){

  header{
    width: 100vw;
  }  

  .heading{
    margin: 0 3rem;
  }
  
  .about .row .info{
    width: 100%;
    padding-left: 12rem 
  }

  .about .row .info .typing-2{
    color: var(--bg1);
    padding: 0 0.5rem;
    font-size: 2rem;
  }

  .about .row .counter{
    width: 100%;
  }

  .works .box-container .box{
    width: 100%;
  }

  .skills .title::after,
  .about .title::after,
  .works .title::after,
  .contact .title::after{
    content: "what i know";
    text-transform: lowercase;
    font-size: 2.5rem;
  }

  .contact .row form{
    margin: 3rem;
  }

  .contact .row form{
    margin: 3rem 0;
  }

}